.dashboard {
    &__notification {
        border-radius: #{$rounded-xlg - 0.35rem};
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-shrink: 0;

        &-circle {
            position: absolute;
            width: 0.8rem;
            height: 0.8rem;
            right: -1px;
            transform: translateY(-50%);
            top: 0.4rem;
            border-radius: 50%;
            border: 2px solid $light;

            &--xs {
                position: absolute;
                width: 0.7rem;
                height: 0.7rem;
                right: 0px;
                transform: translateX(50%);
                top: 0;
                border-radius: 50%;
                border: 1px solid $light;
                font-size: 0.5625rem;
                display: flex;
                align-items: center;
                justify-content: center;

                * {
                    margin-top: 0.1875rem;
                }
            }
        }
    }

    &__num-box {
        &--sm {
            width: 1.3rem;
            height: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            * {
                margin-top: 2px;
            }
        }
    }
}
