.side {
    // visibility: hidden;
    // transform: translateX(100%);
    // transition: transform ease-out 0.6s 0.1s;
    // width: 0;
    // height: 0;
    transition: all 0.6s;

    & > *:first-child {
        z-index: 1000;
        position: sticky;
        top: 3rem;
        bottom: 0;
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
    }

    // &--show {
    //     @media (max-width: 992px) {
    //         -webkit-box-flex: 0 !important;
    //         -ms-flex: 0 0 25% !important;
    //         flex: 0 0 25% !important;
    //         max-width: 25% !important;
    //     }
    //     // display: block !important;
    //     transform: translateX(0%) !important;
    //     visibility: visible;
    // }

    &__button {
        &-cross {
            left: 20px;
            top: 34px;
            cursor: pointer;
        }
    }

    &__item {
        &-icon {
            width: 1.6rem;
        }
    }

    &__author {
        width: 6.3rem;
        height: 6.3rem;
        position: relative;
        letter-spacing: 1px;

        &--sm {
            width: 5.5rem;
            height: 5.5rem;
            position: relative;
            letter-spacing: 1px;
        }

        &-img {
            width: 100%;
            border-radius: 100px;
            object-fit: cover;
            z-index: 100;
        }

        &--online {
            position: absolute;
            bottom: 1%;
            right: 14%;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 100px;
            border: 1.8px solid $light;
            background-color: $green-light;
            z-index: 120;
        }
    }

    &__menu {
        font-size: 0.9rem;
        text-decoration: none;

        &-icon {
            font-size: 1.2rem;
            color: $primary;
            margin-left: 0.7rem;
        }
    }

    &__sub {
        &-par {
        }

        &-list {
        }

        &-item {
            font-size: 0.8rem;
            color: #959595;
        }
    }

    &__icon {
        &-sub {
            //font-size: 0.7rem;
            margin-left: 5px;
        }
    }
}
