$orange-dark-2: #de831c;
$orange-dark: #ff8800;
$orange-light: #ffad50;
$blue-dark: #0abee3;
$blue-light: #14caef;
$green-main: #0ab269;
$green-light: #31ff00;

$bg-login: #f7f7f7;
$bg-login-input: #f2f2f2;
$bg-home: #f6f4fc;

$rounded-xlg: 1.625rem;
